* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: rgb(204, 172, 172);
}

.navbar a:hover {
  background-color:lightskyblue;
}

.background {
  height: 400px;
  width: 100%;
}

.logo {
  color: #fff;
  font-size: 30px;
  margin-left: 1em;
}

.card {
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
}

.data-title {
  font-size: 35px;
  margin-top: .2em;
  margin-bottom: .2em;
  margin-left: .5em;
}